
/* ================================= 
Search box
==================================== */

.search {
text-align: center;
margin: 0 auto;
}

#search {
color: grey;
padding: 1.2em;
width: 55%;
margin-top: 2.3em;
border: solid 2px #d3d3d3;
border-radius: 5px;
font-size: .8rem;
}